body {
  background-color: #1a6fcb;
  display: grid;
  grid-template-rows: 15% 70% 15%;  
  grid-template-areas: "navigation-bar"
                       "main-content"
                       "footer";
}

h1 {
  color: #F2C299;
  text-align: center;
  margin: 10%;
  letter-spacing: 0.5em;
}

.navbar {
  grid-area: navigation-bar; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  grid-area: main-content;
}

.bottom {
  grid-area: footer;
}